PORT=5000
# Use "localhost" when running with `npm start` on the host,
# and "postgres" when running inside docker compose.
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123123
DB_NAME=pharmacy_db
